<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    {% include "page_modules/common_css.html" %}

    {% block css_block %}
    {% endblock %}

</head>

<body class="animsition">
    <div class="page-wrapper">
        
        {% block base_content %}
        {% endblock %}

    </div>

    {% block chatbot_block %}
    {% endblock %}

    {% include "page_modules/common_js.html" %}

    {% block js_block %}
    {% endblock %}

</body>

</html>
<!-- end document-->
