<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
</head>
<body>
    <h3>
        <a href="/demo/process-data?data_a=10&data_b=hello">GET 방식 데이터 전송 (LINK)</a>
    </h3>

    <h3>POST 방식 데이터 전송 (FORM)</h3>
    <form action="/demo/process-data" method="post">
        data a: <input type="text" name="data_a"><br>
        data b: <input type="text" name="data_b"><br>
        <input type="submit" value="전송">
    </form>

    <h3>
        <a href="/file-upload-test">파일 업로드 테스트</a>
    </h3>

</body>
</html>