{% extends 'base_with_layout.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>게시글 상세 보기</strong>
            </div>
            <div class="card-body card-block">                
                <form class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="title" class=" form-control-label">제목</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="title" readonly class="form-control" value="{{ board['title'] }}">
                        </div>
                    </div>                    
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="writer" class=" form-control-label">작성자</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="writer" readonly class="form-control" value="{{ board['writer'] }}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="readcount" class=" form-control-label">조회수</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="readcount" readonly class="form-control" value="{{ board['readcount'] }}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="writedate" class=" form-control-label">작성일자</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="writedate" readonly class="form-control" value="{{ board['writedate'] }}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="modifydate" class=" form-control-label">수정일자</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="modifydate" readonly class="form-control" value="{{ board['modifydate'] }}">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="attachment" class=" form-control-label">첨부파일</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="file" id="attachment" name="attachment" class="form-control-file">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="content" class=" form-control-label">내용</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <textarea id="content" rows="9" 
                                      readonly class="form-control">{{ board['content'] }}</textarea>
                        </div>
                    </div>                    
                </form>
            </div>
            <div class="card-footer text-right">
                <button id="btn-submit" type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> 글쓰기
                </button>
                <button id="btn-reset" type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> 초기화
                </button>
            </div>        
        </div>
    </div>
</div>
{% endblock %}